@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .nav-list li {
        @apply px-5;
        @apply cursor-pointer;
    }

    .nav-list-mobile li {
        @apply py-4;
        @apply text-2xl;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(102, 252, 242, 0.723),
        rgba(18, 186, 175, 0.638)
    )!important;
}

.tagcloud--item {
    color: #50bdb7;
    cursor: default;
}

.tagcloud--item:hover {
    color: #66FCF1;
    cursor: default;
    font-size: 20px;
}
