@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .nav-list li {
        @apply px-5;
        @apply cursor-pointer;
    }

    .nav-list-mobile li {
        @apply py-4;
        @apply text-2xl;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}

.tagcloud--item {
    color: #00ffffff;
    cursor: default;
}

.tagcloud--item:hover {
    color: #ff6347;
    cursor: default;
    font-size: 20px;
}
