@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .nav-list li {
        @apply px-5;
        @apply cursor-pointer;
    }

    .nav-list-mobile li {
        @apply py-4;
        @apply text-2xl;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
}

.mobile-content-div:hover, .content-div:hover {
    background-image: linear-gradient(
        #090909,
        #50bdb7,
        #090909
    )!important;
}

.tagcloud--item {
    color: #50bdb7;
    cursor: default;
}

.tagcloud--item:hover {
    color: #66FCF1;
    cursor: default;
    font-size: 20px;
}

.activeEl {
    color: red;
}
